<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>693896643758-gf6g0osqhmderaavhjfssk429iqj08nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693896643758-gf6g0osqhmderaavhjfssk429iqj08nr</string>
	<key>API_KEY</key>
	<string>AIzaSyAcrPLYbefXAjS_BtUxPTPy4n5IYAAlLkM</string>
	<key>GCM_SENDER_ID</key>
	<string>693896643758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mekhaapp.myMessenger</string>
	<key>PROJECT_ID</key>
	<string>mymessanger-4fc3b</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessanger-4fc3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693896643758:ios:b1dab9d4bf8bb0a0</string>
	<key>DATABASE_URL</key>
	<string>https://mymessanger-4fc3b.firebaseio.com</string>
</dict>
</plist>